.se-step-navigator {
    &__footer {
        padding-top: 15px;

        button.btn {
            margin: 5px;
        }
    }

    &__content {
        min-height: 500px;
        min-width: 500px;
        overflow-y: scroll;
    }
}
